@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #1a152ee2; */
  background: rgb(73,34,91);
background: radial-gradient(circle, rgba(73,34,91,1) 0%, rgba(18,9,70,1) 100%);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* margin: 2;
  display: flexbox;
  flex-direction: row; 
  place-items: center;
   min-width: 320px;
  min-height: 100vh;  */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* margin : 3px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4f2537;
  cursor: pointer;
  transition: border-color 0.25s; */

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #4f2537;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #4f2537;
  }
}
/* my page stuff */
.topbar{
padding: 2px;
margin-top: 20px;

}
.topbar-title{
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 2px;
  text-align: center;
  background-color: #4f25377e;
  color: #ffffff;
  margin:50px;
  padding: 4px;
  border: 1px solid ;
  border-radius: 8px;
  border-color: #fffbfe;
  border-width: 2px;
}

.button-filters{
  display: flex;
  justify-content: center;
  padding: 3px;
}

.button-categorys{
  margin : 3px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4f2537;
  cursor: pointer;
  transition: border-color 0.25s;
}


/* ABOUT PAGE */
.aboutPg{
  background-image: "" ;
}





/* CARD STYLES */

.View-container{
  background-color: #dfc7db;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid white;
  /* flex-wrap: wrap;
  align-items: center; */
   background-image: url("https://media.istockphoto.com/id/1092095806/vector/sweet-food-seamless-pattern-with-flat-line-icons-pastry-vector-illustrations-lollipop.jpg?s=612x612&w=0&k=20&c=kn-z2hN4qiNBQVKRQqcMxctxTDEYfPVU1svl6ysUrkw=");

 
}



.r-card{
  justify-content: center;
  align-content: stretch;
  margin : 3px;
  height: 350px;
  width: 320px;
  border-radius: 1px;
  border: 1px solid rgb(71, 8, 74);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #251e34e0;
  cursor: pointer;
  transition: border-color 0.25s;
}
.r-card:hover
{
  transform: scale(1.1);
  border-color: #646cff;
  border-width: 3px;
  color: #646cff;
  transition: transform 0.3s ease;
  
}

.r-img{
  height: 250px; 
  box-shadow: 10px 10px 20px rgba(22, 4, 43, 0.352);


  margin: auto;
  border-radius: 1px;
  border: 1px solid rgb(72, 4, 89);
}
.r-clicked-img{
  min-height: 300px; 
  box-shadow: 10px 10px 20px rgba(22, 4, 43, 0.352);

  margin: auto;
  border-radius: 1px;
  border: 1px solid rgb(72, 4, 89);
}

.r-name{
  margin: 1px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.r-category{
  margin: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-inline: 4px;
  border: 1px solid ;
  border-radius: 8px;
  border-color: #c0c0c0;
  border-width: 2px;
  display: inline;
}
